/* Index page css */
#landing-page-header > div{
    min-height: 90vh;
    height: inherit;
    background-color: #284C38;
    color: white;
    background-image: url('../images/our-projects/martha-care-home/Ecomoran-organic-farm-session-1.jpg');
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-position: bottom right;
}

#landing-page-vision-mission{
    background-color: #284C38;
    color: #fff;
}
#landing-page-vision-mission > div{
    min-height: 40vh;
}


#landing-page-learn{
    background-image: url('../svg/ecomoran-bg-svg.svg');
    background-size: cover;
    background-position: center center;
}


#landing-page-learn > div{
    min-height: 50vh;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}

#card-box-learn > div{
    min-width: 300px;
    max-width: 400px;
    height: 100%;
}