/* Index page css */
#landing-page-header > div{
    min-height: 65vh;
    height: inherit;
    background-color: #284C38;
    color: white;
    background-image: url('../images/our-projects/martha-care-home/Ecomoran-organic-farm-session-1.jpg');
    background-attachment: fixed;
    background-blend-mode: overlay;
}

#landing-page-vision-mission{
    background-color: rgb(250, 250, 234);
}
#landing-page-vision-mission > div{
    min-height: 40vh;
}


#landing-page-learn > div{
    min-height: 45vh;
}

#card-box-learn > div{
    min-width: 300px;
    max-width: 400px;
    height: 100%;
}