body{
    height: 100%;
}

#firstPage{
    min-height: 100vh;
}

.topbar-bg{
    background-color: #284C38;
    color: white;

}

#topbar-menu > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#topbar-menu > ul > li{
    display: inline;
}

#topbar-menu > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 8px 5px;
}

#topbar-menu > ul > li > a:hover{
    text-decoration-line: underline;
}