/**
* Standard.css
-------------------
* This file is designed to apply standard styles accross the entire website.
* Should be present in all the html documents.

* Author: Ian Too
*/


/*
    Nunito font
*/

@font-face {
    font-family: "Nunito-Regular";
    src: url("../fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Nunito-Black";
    src: url("../fonts/Nunito/static/Nunito-Black.ttf");
}

.contact-bar{
    min-height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #284C38;
    color: #fff;
    font-size: smaller;
}

/* Default font */
body{
    font-family: 'Nunito-Regular', sans-serif;
    height: 100%;
    text-align: justify;
    text-justify: auto;
}

h1, h2 {
    font-family: "Nunito-Black";
}

.brand-bg{
    background-color: #284C38;
    color: #fff;
}

/* Background */
.light-bg{
    background-color: #eee;
    color: #284C38;
}

/* Custom Menus */
/* Social menu */
.social-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-menu > li{
    display: inline-block;
}

.social-menu > li > a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.social-menu > li > a:hover{
    color: #eee;
    text-decoration: underline;
}



/* Footer */
.footer-menu{
    list-style-type: none ;
    padding: 0;
    margin: 0;
}
.footer-menu > li > a {
    text-decoration: none;
    font-size: smaller;
    color: lightgreen;
    cursor: pointer;
}

.footer-menu > li {
    color: #eee;
    font-size: smaller;
    padding-bottom: 5px;
    cursor: default;
}

.footer-menu > li > a:hover{
    color: #eee;
}

/* Homepage Cover */
.cover-bg{
    color: #fff;
    background-size: cover;
    background-color: #294e3a;
    background-position: center center;
    background-blend-mode: overlay;
    background-image: url('../images/our-projects/martha-care-home/Ecomoran-organic-farm-session-1.jpg');
}

/* Carousel base class */
.carousel {
    background-color: #284C38;
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
    background-color: #284C38;
    opacity: .7;
    background-blend-mode: multiply;
  }

  /* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

  }


#landing-page-social-media{
    background-color: #284c38b0;
    background-image: url('../images/our-projects/martha-care-home/ecomoran-sign-language-session.jpg');
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-position: center;
    color: #fff;
}

#landing-page-social-media > div{
    height: 100%;
    min-height: 5vh;
}

#our-curriculum{
    min-height: 60vh;
}


/* Section Height */
.em-section-medium{
    min-height:40vh;
}

.btn-brand{
    margin-top: 10px;
    padding: 7px 6px;
    text-decoration: none;
    border: #284C38 1px solid;
    border-radius: 6px;
    color: #284C38;
    /*background-color: rgb(209, 228, 198);*/
}

.btn-brand:hover{
    background-color: white;
    color: #284C38;;
}

#gallery-body{
    min-height: 90vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.em-single-album{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 15px;
    background-color: #284C38;
    color: #ddd;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px;
}

.em-single-album > img{
    height: 100%;
    width: auto;
    transition: 0.5s;
    background-position: center center;
}

.em-single-album > p{
    color: white;
  font-size: 14px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: inherit;
  width: inherit;
}

.em-single-album > img:hover{
    opacity: 0;
    transition: 0.5s;
    
}

#em-projects-content{
    min-height: 40vh;
}

.em-project-title{
    font-weight: 800;
}

.em-project-item > a{
    text-decoration: none;
}


#em_social_media_links {
    list-style-type: none;
}

#em_social_media_links > li {
    display: inline;
    padding: 10px;
}
