/**
* Under Construction.css
-------------------
* This file is designed to apply standard styles accross the entire website.
* Should be present in all the html documents.

* Author: Ian Too
*/

/* Default font */
body{
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

/***
Main Header
*/
.main-header{
    color: #fff;
    height: 85vh;
    background-color:rgba(94, 161, 13, 0.788) ;
    background-image: url(../images/our-projects/martha-care-home/ecomoran-sign-language-session.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.btn-brand-2{
    text-decoration: none;
    padding: 10px 15px;
    font-size: smaller;
    letter-spacing: 2px;
    background-color: rgba(94, 161, 13, 0.658);
    color: white;
    transition: 0.5s;
    
}

.btn-brand-2:hover{
    color: rgba(94, 161, 13, 1);
    background-color: #eeeeee;
    transition: 0.5s;
}


/**
Footer Menu
**/
footer{
    background-color: rgba(0, 0, 0, 1);
}

.footer-menu{
    list-style-type: none;
}

.footer-menu > li > a {
    text-decoration: none;
    font-size: smaller;
    color: rgba(94, 161, 13, 1);
}

.footer-menu > li > a:hover {
    text-decoration: none;
    color: rgb(51, 54, 47);
}